@mixin roundCorners($r: 10px) {
   box-sizing: border-box;
   border-radius: $r;
   cursor: pointer;
}

@mixin roundedInputField($w: 86%, $pad: 10px, $borderRadius: 40px, $marginL: 5px, $backgroundColor: $mainBrown){
   box-sizing: border-box;
   padding: $pad;
   border-radius: $borderRadius;
   width: $w;
   margin-left: $marginL;
   background-color: $backgroundColor;
}

@mixin hoverColor($color: $lightBox) {
   &:hover{
      background-color: $color;
      transition: 0.4s;
      cursor: pointer;
   }
}

// @include hoverColor();


// @mixin inputField() {
//    box-sizing: border-box;
//    padding: $pad;
//    border-radius: $borderRadius;
//    width: $w;
//    margin-left: $marginL;
//    background-color: $backgroundColor;
//    @include hoverColor();
// }