.bio-form-container {
    background: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 19px 19px 19px 19px;
    margin-left: 5px;
}

.edit-bio-button {
    margin-top: 10px;
    border-style: solid;
    border-width: 0px;
    border-radius: 99em;
    background: green;
    padding: 7px 16px 9px;
    color: seaGreen;
    line-height: 20px;
    height: 38px;
    width: 80px;
}