.bio-and-repertoire{
    display:flex;    
}


.bio-form-container {
    background: white;
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 19px 19px 19px 19px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.edit-bio-button {
    @include button();
}

.bio-user {
    font-size: 1.6em;
    font-weight: bolder;
    text-align: center;
}

.bio-section-item {
    margin-bottom: 30px;
}

.bio-section-label {
    font-size: 22px;
    font-weight: bolder;
}

.bio-section-content {
    border: 0px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    font-weight: normal;
}

.bio-input-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bolder;
}

.bio-about-input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    font-weight: normal;
    max-width: 100%;
    min-height: fit-content;
    resize: none;
}

.bio-location-input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    font-weight: normal;
    max-width: 100%;
}

.bio-socialMedia-input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    font-weight: normal;
    max-width: 100%;
    resize: none;
}

.follows{
    display: flex;
    @include roundedInputField(130px);
    @include roundCorners();
    margin: 10px;
    margin-left: 3%;
    @include boxShadow();
    cursor: default;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
}

.follow-button{
    @include roundedInputField(120px);
    @include roundCorners();
    border-width: 1px;
    color: white;
    margin: 10px;
    margin-left: 3%;
    @include boxShadow();
    @include hoverColor();

}