@import "variables";
@import "mixins";

// https://photos.app.goo.gl/zjN6UXsTWkLo6Bpx7

.background1{
   background-image: url("background.JPG");
   min-height: 100vh;
   height: 100%;
   width: 100%;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.signup-login{
   text-align: center; 
}

.Signup, .Login{
   box-shadow: 0 0 5px;
   text-align: center; 
   color: gold;
   font-size: 45px;
   margin: 5px;
   @include roundedInputField();
   @include roundCorners(20px);
   @include hoverColor();
}


.whole-signup-login-form{
   // display: relative;
   
   .signup-login-form{
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0.8;
      margin-top: 25px;
   }
   .signup-input-field{
      @include roundedInputField(35%);
      text-align: center;
      font-size: 40px;      
   }
   .signup-login-button{
      box-shadow: 0 0 5px;
      color: gold;
      font-size: 22px;
      @include roundedInputField(20%);
      text-align: center;
      @include hoverColor();

   } 
   
}

.demo{
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   // position:center;
   // display:flex;
   // width: 100vw;
   // justify-content: center;
   // align-self: center;
   color: gold;
   font-size: 20px;
   margin: 5px;
   @include roundedInputField(7%);
   @include roundCorners(20px);
   // transform: translate(50%, 0%);   

}

#login-logo{
   background-image: url("logo.png");
   font-size: 400px;
   background-repeat: no-repeat; 
   background-size: 100%;
   background-position: 55% 0%;
   width: 1800px;
   height: 480px;
   background-repeat: no-repeat;
   background-size: 40%;
   object-fit: cover;
   // min-height: 60vh;
   // background-attachment: fixed;

}