@import "variables";
@import "mixins";

// https://photos.app.goo.gl/zjN6UXsTWkLo6Bpx7

.background{
   background-image: url("/stylesheets/background.JPG");
   background-position: 100vw 250vh;
   background-repeat: no-repeat;   
   background-size: cover;
   width: 100vw;
   height: 100vh;
   // background-color: purple;
}

// .background-img{
//    width: 100vw;
//    height: 100vh;
//    z-index: 1;
// }

.signup-login{
   text-align: center; 
}


.Signup, .Login{
   color: gold;
   font-size: 45px;
   margin: 5px;
   @include roundedInputField();
   @include roundCorners(20px);
}

.whole-signup-login-form{
   // display: relative;
   .signup-login-form{
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0.8;
      margin-top: 25px;
   }
   .signup-input-field{
      @include roundedInputField(35%);
      text-align: center;
      font-size: 40px;

   }
   .signup-login-button{
      @include roundedInputField(20%);
      text-align: center;
   } 
}
 
