@import "variables";
@import "mixins";

// https://photos.app.goo.gl/zjN6UXsTWkLo6Bpx7

.background1{
   background-image: url("background.JPG");
   // background-position: 100vw 250vh;
   // position: fixed;
   // top: 0;
   // left: 0;
   // background-repeat: no-repeat;   
   // background-size: cover;
   // width: 100vw;
   min-height: 100vh;
   // background-color: purple;
   height: 100%;
   width: 100%;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

// .background-img{
//    width: 100vw;
//    height: 100vh;
//    z-index: 1;
// }

.signup-login{
   text-align: center; 
}


.Signup, .Login{
   box-shadow: 0 0 5px;
   text-align: center; 
   color: gold;
   font-size: 45px;
   margin: 5px;
   @include roundedInputField();
   @include roundCorners(20px);
}


.whole-signup-login-form{
   // display: relative;
   
   .signup-login-form{
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0.8;
      margin-top: 25px;
   }
   .signup-input-field{
      @include roundedInputField(35%);
      text-align: center;
      font-size: 40px;

   }
   .signup-login-button{
      @include roundedInputField(20%);
      text-align: center;
   } 


   
}

#login-logo{
   background-image: url("logo.png");
   margin-left: auto;
   margin-right: auto;
   font-size: 400px;
   background-repeat: no-repeat; 
   // object-fit: cover;
   background-size: 100%;
   background-position: 0% 1%;
   width: 1200px;
   // width: 100%;
   //   height: 20vh;
   min-height: 60vh;
   // background-color: purple;
   height: 100%;
   // width: 100%;
   // background-attachment: fixed;
   // background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.demo{
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   // position:center;
   // display:flex;
   // width: 100vw;
   // justify-content: center;
   // align-self: center;
   color: gold;
   font-size: 20px;
   margin: 5px;
   @include roundedInputField(7%);
   @include roundCorners(20px);
   // transform: translate(50%, 0%);   

}