@import "variables";
@import "mixins";

.navbar-centering-container{
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(150, 89, 89, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 70px;
    align-items: center;
}

// .dropdown-logo {
//     position: relative;
//     display: inline-block;
// }

#nav-bar-logo{
    background-image: url("smallLogo.png");
    position: absolute;
    width: 140px;
    height: 80px;
    top: 0;
    object-fit: cover;
    background-size: 140px;
    background-repeat: no-repeat;
    // background-position: 0px -20px;
    // object-fit: contain;
    // width: 100%;
    // height: 10vh;
    // min-height: 10vh;
    // background-color: purple;
    // height: 10%;
    // width: 100%;
    // background-attachment: fixed;
    // background-position: center;
    
}

.dropdown-link{
    @include button();
    font-size: 20px;

    @include roundedInputField(95%);
    @include hoverColor(rgb(122, 111, 95));
    // border-width: 1px;
    // border-color: white;
}

.show-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 120px;
    align-items: center;
    background: white;
    border: 1px solid black;
    @include roundCorners(20px);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.clear {
    display: none;
}

.dropdown-item {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.logout-button:hover {
    cursor: pointer;
}

.dropdown-item:first-child {
    border-bottom: 1px solid black;
    border-radius: 19px 19px 0 0;
}

.dropdown-item:last-child{
    border-top: 1px solid black;
    border-radius: 0 0 19px 19px;
}

.dropdown-item:hover {
    background-color: lightgray;
}


