.repertoire-container {
    justify-content: left;
    background-color: white;
    width: 47.5%;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    border-radius: 19px 19px 19px 19px;
    padding: 10px 0 10px 10px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0 5px 0;
    font-weight: bolder;
    font-size: 1.6em;
}

.repertoire-list-proper {
    height: 300px;
    overflow-y: auto;
    width: 90%;
    margin-left: 5%;
    height: 380px;
}

.repertoire-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    &:last-child {
        border-bottom: 0px;
    }
    align-items: center;
}

.repertoire-title{
    font-weight: bold;
    width: 33%;
    overflow: hidden;
}

.edit-delete-button-container {
    display: flex;
    align-items: center;
}

.song-delete-button{
    @include button(70px, 35px);
    margin-right: 5px;
    font-size: 14px;
    margin-top: 0;
}

.song-edit-form2 {
    @include roundedInputField(33%);
    @include roundCorners(8px);
    height: 35px;
    padding: 3px 0 3px 3px;
    margin-left: 0;
}

.song-edit-form2:hover {
    cursor: auto;
}