
.song-build-centering {
   display: flex;
   justify-content: center;
   width: 100%;
   padding-bottom: 20px;

}

.song-build-container{
   box-shadow: 0 0 40px;
   margin-top: 20px;
   background-color: white;
   width: 95%;
   padding-bottom: 20px;

   border-radius: 19px 19px 19px 19px; 
   ::placeholder {
      color: rgba(221, 214, 241, 1);
      min-height: 300px;
   }

   .song-build-header {
      display: flex;
      justify-content: center;
      font-size: xxx-large;
      font-weight: bolder;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 20px 0 20px 0;
      margin-bottom: 20px;
   }

   .song-form-top-bar{
      display: flex;
      align-items: center;
      .song-title-input{
         align-self: center;
         text-align: center;
         font-size: 180%;
         @include roundedInputField(45%);
         @include roundCorners(8px);
         margin: 1%;
         margin-left: 16px;
         @include hoverColor($cursor: text); 
      }

      .available-chords-title {
         padding-top: 10px;
         margin-left: 120px;
         font-size: xx-large;
         font-weight: bold;
      }
   }

   .song-form-errors{
      // color: rgb(255, 255, 255);
      background-color: rgb(204, 26, 26);
      @include roundedInputField(250px, $borderRadius: 10px,$backgroundColor: rgb(253, 0, 0));
      margin-left: 20px;
   }

   .song-form-container{
      display: flex;
      .song-build-col1{ 
         width: 15%;
         margin-left: 10px; 
         .song-form-input{
            font-weight: bold;
         }  
         
         
         .song-form-input{
            display: flex;
            @include roundedInputField(100%);
            @include roundCorners(20px);
         }
         .radio-button-container{
            display: flex;
            flex-direction: column;
            min-width: 100%;
            @include roundedInputField();
            @include roundCorners(20px);
         }
      }



      .song-build-col2{
         width: 29%;
         .checkboxes-container{
            display: flex;
            flex-direction: column;
            @include roundedInputField(100%);
            @include roundCorners(20px);
            margin-left: 20px;
            font-size: 25px;
            width: 100%;
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
         }
      }

      .song-form-available-chords {
         width: 45%;
         margin-left: 125px;
      }

      .song-build-col3{
         width: 100%;
         border: 1px solid black;
         border-radius: 19px 19px 19px 19px;
         box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
      }

      .song-options-list{
         display: flex;
         font-size: 30px;
         height: 290px;
         .available-chord{
            width: 100%;
            margin: 0 20px 3px 5px;
         }
         .chord-list {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-top: 7px;
         }
      }

      .col-1-item{
         margin-bottom: 18px;
         box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
      }

      .song-form-submit{
         text-align: center;
         text-align: center;
         width: 100%;
         margin: 10px;
         @include button($h: 52px);
         @include roundedInputField(100%);
         @include roundCorners(20px);
         @include hoverColor($shad: 15px);
         border-width: 2px;
         border-color: white;
         color: rgb(4, 92, 23);
         font-size: 25px;
         font-weight: bold;
         margin-left: 20px;
         box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
      }      
      
   }
}

