.song-index-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.song-index-item {
    display: flex;
    justify-content: space-between;
}

.song-index-song-link {
    display: flex;
    justify-content: space-between;
}

