.song-build-container{
   // display: flex;
   // flex-direction: column;
   // align-items: center;
   // opacity: 0.8;
   margin-top: 50vh;
   background-color: rgba(134, 175, 236, 0.336);

   height: 43vh; 
   @include roundCorners(10px);  
   ::placeholder {
      color: gold;
   }
   .song-form-top-bar{
      display: flex;
      // width: 100vw;
      .song-title-input, .available-chords-title{
         align-self: center;
         // justify-self: center;
         text-align: center;
         font-size: 180%;
         // color: orange;
         @include roundedInputField(45vw);
         @include roundCorners(8px);
         margin: 1%;
         margin-left: 5%;
         margin-right: 5%;
      }
   }
   .song-form-submit{
      width: 20%;
      // align-self: center;
      // justify-self: center;
      text-align: center;
      font-size:200%;
      // color: orange;
      @include roundedInputField(25%);
      @include roundCorners(10px);
      margin: 10px;
      
   }
   .song-form-container{
      display: flex;
      .song-build-col1{ 
         margin-left: 10px;     
         .song-form-input{
            display: flex;
            @include roundedInputField(100%);
            @include roundCorners(20px);
            // margin-left: 10px;
         }
         .radio-button-container{
            display: flex;
            flex-direction: column;
            @include roundedInputField();
            @include roundCorners(20px);
            // width:100%;
         }
      }
      .song-build-col2{
         .checkboxes-container{
            display: flex;
            flex-direction: column;
            @include roundedInputField(100%);
            @include roundCorners(20px);
            margin-left: 20px;
            font-size: 25px;
         }
      }
      .song-options-list{
         display: flex;
         // flex-direction: column;
         // width: 40%;
         // flex-wrap: wrap;
         font-size: 30px;
         margin-left: 10%;
         .chord-list{
            font-size: 30px;
            // display: flex;
            margin-left: 30px;
         }
         .available-chord{
            display: flex;
            flex-direction: row;
            width: 40%;
            flex-wrap: wrap;
            margin-left: 30px;
         }
      }
      .song-form-submit{
         @include roundedInputField();
         text-align: center;
      }      
      // .available-chords{

      // }
   }
}