.sheet{
   @include roundCorners();
}

.song-title{
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 19px 19px 0 0;
   font-size: 4vw;
   text-align: center;
   background-color: white;
   margin-left: 3vw;
   margin-right: 3vw;
   text-decoration: underline;
}
.song-author-container {
   display: flex;
   justify-content: flex-end;
   font-size: 4vw;
   text-align: center;
   background-color: white;
   margin-left: 3vw;
   margin-right: 3vw;
}
.song-author{
   font-size: 4vw;
   text-align: center;
   background-color: white;
   margin-left: 3vw;
   margin-right: 3vw;
   font-size: 2.5vw;
   font-weight: bolder;
   padding-bottom: 10px;
   text-decoration: underline;
}
.whole-song{
   border-radius: 0 0 19px 19px;
   bottom: 20px;
   background-color: white;
   display: grid;
   grid-template-columns: repeat(4, 25%);
   margin-left: 3vw;
   margin-right: 3vw;

   .chord{
      font-size: 2vw;
      margin-left: 2vw;

   }
   .bars4{
      background-image: url("croppedBar1.png");
      background-repeat: no-repeat; 
      background-size: 100%;
      height: 20vh;
   }
}

.like-unlike{
   font-size:40px;
   @include roundCorners();
   @include roundedInputField(10%);
   text-align: center;
   margin-left: 5%;
   margin-top: 1%;
   margin-bottom: 1%;
}


.peer-review-container{
   display: flex;
   justify-content: center;
   border-radius: 19px 19px 19px 19px;
   bottom: 20px;
   background-color: white;
   grid-template-columns: repeat(4, 25%);
   margin-left: 3vw;
   margin-right: 3vw;
   margin-top: 10px;
}

.peer-review-container-proper {
   width: 90%;
}

.peer-review-header {
   font-weight: bolder;
   font-size: xx-large;
   margin-bottom: 10px;
   margin-top: 10px;
}

.review-item {
   margin-bottom: 20px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review-username {
   font-size: x-large;
   font-weight: bold;
   margin-bottom: 5px;
}

.review-form-container {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.peer-review-input {
   border: 1px solid black;
   min-height: 50px;
   min-width: 100%;
   padding-left: 10px;
   padding-top: 5px;
   border-radius: 19px 19px 19px 19px; 
}

.peer-review-submit {
   text-align: center;
   text-align: center;
   @include roundedInputField(100%);
   @include roundCorners(20px);
   font-size: 25px;
   box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
   margin-bottom: 10px;
   width: 100px;
   margin-left: 0;
}

