.sheet{
   @include roundCorners();
}

.song-title{
   border-radius: 19px 19px 0 0;
   font-size: 4vw;
   text-align: center;
   // margin-top: 1vw;
   background-color: white;
   margin-left: 3vw;
   margin-right: 3vw;
}
.song-author{
   font-size: 4vw;
   text-align: center;
   // margin-top: 1vw;
   background-color: white;
   margin-left: 3vw;
   margin-right: 3vw;
}
.whole-song{
   border-radius: 0 0 19px 19px;
   bottom: 20px;
   background-color: white;
   display: grid;
   grid-template-columns: repeat(4, 25%);
   // display: flex;
   // // justify-content:space-between;
   // width: 70%;
   // flex-wrap: wrap;
   // margin-left: 15%;
   // margin-right: 15%;
   // flex-direction: row; 
   margin-left: 3vw;
   margin-right: 3vw;
   // border: 30px solid black;

   .chord{
      // display: grid;
      // grid-template-columns: repeat(4, 25px);
      // background-color: rgb(112, 30, 30);
      // color: rgb(223, 15, 15);
      font-size: 2vw;
      // // display: flex;
      // margin-left: 3vw;
      // width: 16vw;

      // // background-image: url("sheetMusicBar.png");
      // // background-position: 0% 1%;
      // // background-repeat: no-repeat;   
      // // background-size: cover;
      // // width: 100vw;
      // // height: 100vh;
      // // background-color: purple;
      margin-left: 2vw;

   }
   .bars4{
      // display: grid;
      // grid-template-columns: repeat(6, 25vw);
      // font-size: 250%;
      background-image: url("croppedBar1.png");
      background-repeat: no-repeat; 
      // object-fit: cover;
      background-size: 100%;
      // background-position: 0% 1%;
      // width: 394px;
      height: 20vh;

      // width: 394px;
      // height: 157px;

      // justify-content:center;
      // align-self: center;
      // margin-left: 15%;
      // margin-right: 15%;
      // margin-left: 0vw;

   }
}