.centerer {
    display: flex;
    justify-content: center;
}

.splash-about-section {
    background: white;
    margin-top: 50px;
    width: 90%;
    padding: 30px;
    font-size: 25px;
    border-radius: 19px 19px 19px 19px;
}

.splash-paragraph {
    margin-bottom: 40px;
}

.start-writing {
    margin-left: 0;
    font-size: 25px;
    width: fit-content;
}